{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} {% endblock title %}</title>
	<link rel="stylesheet" type="text/css" href='{% static "bower_components/bootstrap/dist/css/bootstrap-theme.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "bower_components/bootstrap/dist/css/bootstrap.css" %}'>
	<link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
{% block head_extra %}{% endblock head_extra %}
</head>
<body>
<div class="container">
	{% block content %}

	{% endblock content %}
</div>
	<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
	<script type="text/javascript" src='{% static "bower_components/bootstrap/dist/js/bootstrap.js" %}'</script>
	<script type="text/javascript" src='{% static "js/main.js" %}'></script>
	<script src="{% static 'bower_components/marked/marked.min.js' %}"></script>
	<script>
	$(document).ready(function(){
		$(".content-markdown").each(function(){
		// 	console.log(content);
		// var MD = marked(content);
			var content = $(this).text(); 
			var MD = marked(content);
			console.log(MD);
			$(this).html(MD);
			
		})
	});
	</script>
</body>
</html>